params {
    assay_params {
        '16SFish' {
            fw_primer = "GACCCTATGGAGCTTTAGAC"
            rv_primer = "CGCTGTTATCCCTADRGTAACT"
            'l150' {
                skip_3end_trim  = true
                read_minlen     = 40
                read_maxlen     = 150
                asv_min_overlap = 40
            }
            'l300' {
                skip_3end_trim  = false
                read_minlen     = 170
                read_maxlen     = 230
                asv_min_overlap = 170
            }
        }
        'MiFish' {
            fw_primer = "GTCGGTAAAACTCGTGCCAGC"
            rv_primer = "CATAGTGGGGTATCTAATCCCAGTTTG"
            'l150' {
                skip_3end_trim  = true
                read_minlen     = 40
                read_maxlen     = 150
                asv_min_overlap = 40
            }
            'l300' {
                skip_3end_trim  = false
                read_minlen     = 160
                read_maxlen     = 190
                asv_min_overlap = 160
            }
        }
        'COILeray' {
            fw_primer = "GGWACWGGWTGAACWGTWTAYCCYCC"
            rv_primer = "TAIACYTCIGGRTGICCRAARAAYCA"
            'l150' {
                skip_3end_trim  = true
                read_minlen     = 80
                read_maxlen     = 150
                asv_min_overlap = 0
            }
            'l300' {
                skip_3end_trim  = false
                read_minlen     = 200
                read_maxlen     = 300
                asv_min_overlap = 200
            }
        }
        '16SMam' {
            fw_primer = "CGGTTGGGGTGACCTCGGA"
            rv_primer = "GCTGTTATCCCTAGGGTAACT"
            'l150' {
                skip_3end_trim  = false
                read_minlen     = 70
                read_maxlen     = 150
                asv_min_overlap = 70
            }
            'l300' {
                skip_3end_trim  = false
                read_minlen     = 70
                read_maxlen     = 150
                asv_min_overlap = 70
            }
        }
        '12SV5' {
            fw_primer = "TAGAACAGGCTCCTCTAG"
            rv_primer = "TTAGATACCCCACTATGC"
            'l150' {
                skip_3end_trim  = false
                read_minlen     = 70
                read_maxlen     = 150
                asv_min_overlap = 70
            }
            'l300' {
                skip_3end_trim  = false
                read_minlen     = 70
                read_maxlen     = 150
                asv_min_overlap = 70
            }
        }
    }
}
