params {
    assay_params {
        '16SFish' {
            'l150' {
                skip_3end_trim = true
                read_minlen = 100
                read_maxlen = 150
                asv_min_overlap = 100
            }
            'l300' {
                skip_3end_trim = false
                read_minlen = 170
                read_maxlen = 230
                asv_min_overlap = 170
            }
        }
        'MiFish' {
            'l150' {
                skip_3end_trim = true
                read_minlen = 100
                read_maxlen = 150
                asv_min_overlap = 100
            }
            'l300' {
                skip_3end_trim = false
                read_minlen = 160
                read_maxlen = 190
                asv_min_overlap = 160
            }
        }
        'COILeray' {
            'l150' {
                skip_3end_trim = true
                read_minlen = 100
                read_maxlen = 150
                asv_min_overlap = 0
            }
            'l300' {
                skip_3end_trim = false
                read_minlen = 200
                read_maxlen = 300
                asv_min_overlap = 200
            }
        }
        '16SMam' {
            'l150' {
                skip_3end_trim = false
                read_minlen = 70
                read_maxlen = 150
                asv_min_overlap = 70
            }
            'l300' {
                skip_3end_trim = false
                read_minlen = 70
                read_maxlen = 150
                asv_min_overlap = 70
            }
        }
        '12SV5' {
            'l150' {
                skip_3end_trim = false
                read_minlen = 70
                read_maxlen = 120
                asv_min_overlap = 70
            }
            'l300' {
                skip_3end_trim = false
                read_minlen = 70
                read_maxlen = 120
                asv_min_overlap = 70
            }
        }
    }
}
