params {
    assay_params {
        '16SFish' {
            fw_primer       = "GACCCTATGGAGCTTTAGAC"
            rv_primer       = "CGCTGTTATCCCTADRGTAACT"
            asv_min_overlap = 12
            read_maxlen     = 1000
            seqtk_trim      = false
            seqtk_length    = 1000
            asv_min_length  = 150
            asv_max_length  = 250
        }
        'MiFishE' {
            fw_primer       = "RGTTGGTAAATCTCGTGCCAGC"
            rv_primer       = "GCATAGTGGGGTATCTAATCCTAGTTTG"
            asv_min_overlap = 12
            read_maxlen     = 1000
            seqtk_trim      = false
            seqtk_length    = 1000
            asv_min_length  = 140
            asv_max_length  = 200
        }
        'MiFishU' {
            fw_primer       = "GTCGGTAAAACTCGTGCCAGC"
            rv_primer       = "CATAGTGGGGTATCTAATCCCAGTTTG"
            asv_min_overlap = 12
            read_maxlen     = 1000
            seqtk_trim      = false
            seqtk_length    = 1000
            asv_min_length  = 140
            asv_max_length  = 200
        }
        'MiFishEU' {
            fw_primer       = "RGTTGGTAAATCTCGTGCCAGC;GTCGGTAAAACTCGTGCCAGC"
            rv_primer       = "GCATAGTGGGGTATCTAATCCTAGTTTG;CATAGTGGGGTATCTAATCCCAGTTTG"
            asv_min_overlap = 12
            read_maxlen     = 1000
            seqtk_trim      = false
            seqtk_length    = 1000
            asv_min_length  = 140
            asv_max_length  = 200
        }
        'MiFishUE' {
            fw_primer       = "RGTTGGTAAATCTCGTGCCAGC;GTCGGTAAAACTCGTGCCAGC"
            rv_primer       = "GCATAGTGGGGTATCTAATCCTAGTTTG;CATAGTGGGGTATCTAATCCCAGTTTG"
            asv_min_overlap = 12
            read_maxlen     = 1000
            seqtk_trim      = false
            seqtk_length    = 1000
            asv_min_length  = 140
            asv_max_length  = 200
        }
        'COILeray' {
            fw_primer       = "GGWACWGGWTGAACWGTWTAYCCYCC"
            rv_primer       = "TAIACYTCIGGRTGICCRAARAAYCA"
            asv_min_overlap = 12
            read_maxlen     = 1000
            seqtk_trim      = false
            seqtk_length    = 1000
            asv_min_length  = 290
            asv_max_length  = 340
        }
        'COIElasmoD' {
            fw_primer       = "ACCAACCACAAAGANATNGGCAC;TCNACNAATCATAAAGATATCGGCAC"
            rv_primer       = "GATTATTACNAAAGCNTGGGC"
            asv_min_overlap = 24
            read_maxlen     = 1000
            seqtk_trim      = true
            seqtk_length    = 80
            asv_min_length  = 90
            asv_max_length  = 260
        }
        '16SMam' {
            fw_primer       = "CGGTTGGGGTGACCTCGGA"
            rv_primer       = "GCTGTTATCCCTAGGGTAACT"
            asv_min_overlap = 12
            read_maxlen     = 1000
            seqtk_trim      = false
            seqtk_length    = 1000
            asv_min_length  = 110
            asv_max_length  = 160
        }
        '12SV5' {
            fw_primer        = "TAGAACAGGCTCCTCTAG"
            rv_primer        = "TTAGATACCCCACTATGC"
            asv_min_overlap = 12
            read_maxlen      = 1000
            seqtk_trim      = false
            seqtk_length    = 1000
            asv_min_length  = 50
            asv_max_length  = 130
        }
        'MarVer1' {
            fw_primer       = "CGTGCCAGCCACCGCG"
            rv_primer       = "GGGTATCTAATCCYAGTTTG"
            asv_min_overlap = 12//0
            read_maxlen     = 1000
            seqtk_trim      = false
            seqtk_length    = 1000
            asv_min_length  = 170
            asv_max_length  = 230
        }
    }
}
