/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: ADAPTERREMOVAL {
        ext.args = [
            "--trimns",
            "--trimqualities",
            "--minquality ${params.min_quality}"
        ]
        .join(' ').trim()
        ext.args2 = [
            "--collapse",
            "--trimns",
            "--trimqualities",
            "--minquality ${params.min_quality}",
            "--minalignmentlength ${params.min_align_leng}"
        ]
        .join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/vsearch/filtered" },
            mode: params.publish_dir_mode
        ]
    }

    withName: BLAST_BLASTN {
        ext.args = [
            "-outfmt '6 qseqid sseqid staxids sscinames scomnames sskingdoms pident length qlen slen mismatch gapopen gaps qstart qend sstart send stitle evalue bitscore qcovs qcovhsp'",
            "-task ${params.blast_task}",
            "-perc_identity ${params.perc_identity}",
            "-evalue ${params.evalue}",
            params.best_hit_score_edge ? "-best_hit_score_edge ${params.best_hit_score_edge}" : "",
            params.best_hit_overhang ? "-best_hit_overhang ${params.best_hit_overhang}" : "",
            params.qcov ? "-qcov_hsp_perc ${params.qcov}" : "",
            params.max_tar_seq ? "-max_target_seqs ${params.max_tar_seq}" : "",
        ]
        .join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/blast" },
            mode: params.publish_dir_mode
        ]
    }

    withName: BLAST_MAKEBLASTDB {
        ext.args = [
            "-parse_seqids",
            "-dbtype nucl"
        ]
        .join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/lulu" },
            mode: params.publish_dir_mode
        ]
    }

    withName: BLAST_MATCHLIST {
        ext.args = [
            "-outfmt '6 qseqid sseqid pident'",
            "-qcov_hsp_perc 80",
            "-perc_identity 84"
        ]
        .join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/lulu" },
            mode: params.publish_dir_mode
        ]
    }

    withName: CUTADAPT {
        ext.args = [
            "-e ${params.cutadapt_error}",
            "--no-indels",
            "--report=full",
            "--minimum-length ${params.cutadapt_min_len}"
        ]
        .join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/cutadapt" },
            mode: params.publish_dir_mode
        ]
    }

    withName: SEQTK_TRIM {
        ext.args = [
            "-L ${params.seqtk_length}",
        ]
        .join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/seqtk" },
            mode: params.publish_dir_mode
        ]
    }

    withName: DADA2_DEREPLICATE {
        publishDir = [
            path: { "${params.outdir}/dada2" },
            mode: params.publish_dir_mode
        ]
    }

    withName: DADA2_FILTERANDTRIM {
        publishDir = [
            path: { "${params.outdir}/dada2/filtered" },
            mode: params.publish_dir_mode
        ]
    }

    withName: DADA2_FINALOUTPUTS {
        publishDir = [
            path: { "${params.outdir}/dada2" },
            mode: params.publish_dir_mode
        ]
    }

    withName: DADA2_LEARNERRORS {
        publishDir = [
            path: { "${params.outdir}/dada2" },
            mode: params.publish_dir_mode
        ]
    }

    withName: DADA2_MERGE {
        ext.args = [
            "minOverlap = ${params.min_overlap}",
            "maxMismatch = ${params.max_mismatch}"
        ].join(',').replaceAll('(,)*$', "")
        publishDir = [
            path: { "${params.outdir}/dada2" },
            mode: params.publish_dir_mode
        ]
    }

    withName: DADA2_PLOTERRORS {
        publishDir = [
            path: { "${params.outdir}/dada2/plots" },
            mode: params.publish_dir_mode
        ]
    }

    withName: DADA2_PLOTQUALITYPROFILERAW {
        publishDir = [
            path: { "${params.outdir}/dada2/plots" },
            mode: params.publish_dir_mode
        ]
    }

    withName: DADA2_PLOTQUALITYPROFILETRIMMED {
        publishDir = [
            path: { "${params.outdir}/dada2/plots" },
            mode: params.publish_dir_mode
        ]
    }

    withName: DADA2_REMOVEBIMERADENOVO {
        publishDir = [
            path: { "${params.outdir}/dada2" },
            mode: params.publish_dir_mode
        ]
    }

    withName: DADA2_SAMPLEINFERENCE {
        ext.args = [
            params.pooled == "pseudo" ? "pool = \"pseudo\"" :
                params.pooled == "true" ? "pool = TRUE" : "pool = FALSE"
        ].join(',').replaceAll('(,)*$', "")
        publishDir = [
            path: { "${params.outdir}/dada2" },
            mode: params.publish_dir_mode
        ]
    }

    withName: DADA2_SEQUENCEDISTRIBUTION {
        publishDir = [
            path: { "${params.outdir}/dada2/plots" },
            mode: params.publish_dir_mode
        ]
    }

    withName: DADA2_SEQUENCETABLE {
        publishDir = [
            path: { "${params.outdir}/dada2" },
            mode: params.publish_dir_mode
        ]
    }

    withName: DADA2_TRACKREADS {
        publishDir = [
            path: { "${params.outdir}/dada2/plots" },
            mode: params.publish_dir_mode
        ]
    }

    withName: FASTQCONCAT {
        publishDir = [
            path: { "${params.outdir}/vsearch" },
            mode: params.publish_dir_mode
        ]
    }

    withName: FASTQRELABEL {
        publishDir = [
            path: { "${params.outdir}/vsearch/relabeled" },
            mode: params.publish_dir_mode
        ]
    }

    withName: FASTQTOFASTA {
        publishDir = [
            path: { "${params.outdir}/vsearch" },
            mode: params.publish_dir_mode
        ]
    }

    withName: LCA {
        ext.args = [
            "${params.lca_qcov}",
            "${params.lca_pid}",
            "${params.lca_diff}"
        ]
        .join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/lca" },
            mode: params.publish_dir_mode
        ]
    }

    withName: LULU {
        ext.args = [
            "minimum_match = ${params.min_match_lulu}"
        ].join(',').replaceAll('(,)*$', "")
        publishDir = [
            path: { "${params.outdir}/lulu" },
            mode: params.publish_dir_mode
        ]
    }

    withName: OBITOOLS3_ALIGNPAIREDEND {
        publishDir = [
            path: { "${params.outdir}/obitools3" },
            mode: params.publish_dir_mode
        ]
    }

    withName: OBITOOLS3_GREP {
        ext.args = [
            "-l ${params.obitools3_min_len}"
        ]
        .join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/obitools3" },
            mode: params.publish_dir_mode
        ]
    }

    withName: OBITOOLS3_NGSFILTER {
        publishDir = [
            path: { "${params.outdir}/obitools3" },
            mode: params.publish_dir_mode
        ]
    }

    withName: CREATE_NGSFILE {
        publishDir = [
            path: { "${params.outdir}/obitools3" },
            mode: params.publish_dir_mode
        ]
    }

    withName: CREATE_DEMUX_DEPENDENCIES {
        publishDir = [
            path: { "${params.outdir}/cutadapt" },
            mode: params.publish_dir_mode
        ]
    }

    withName: SPLIT_FASTQ {
        publishDir = [
            path: { "${params.outdir}/obitools3/split_samples" },
            mode: params.publish_dir_mode
        ]
    }

    withName: PHYLOSEQ {
        publishDir = [
            path: { "${params.outdir}/phyloseq" },
            mode: params.publish_dir_mode
        ]
    }

    withName: RAW_STATS {
        publishDir = [
            path: { "${params.outdir}/seqkit_stats" },
            mode: params.publish_dir_mode
        ]
    }

    withName: ASSIGNED_STATS {
        publishDir = [
            path: { "${params.outdir}/seqkit_stats" },
            mode: params.publish_dir_mode
        ]
    }

    withName: UNKNOWN_STATS {
        publishDir = [
            path: { "${params.outdir}/seqkit_stats" },
            mode: params.publish_dir_mode
        ]
    }

    withName: FINAL_STATS {
        publishDir = [
            path: { "${params.outdir}/seqkit_stats" },
            mode: params.publish_dir_mode
        ]
    }

    withName: TRIM_AND_CONCAT {
        publishDir = [
            path: { "${params.outdir}/cutadapt" },
            mode: params.publish_dir_mode
        ]
    }

    withName: USEARCH32_FASTXUNIQUES {
        ext.args = "-sizeout"
        publishDir = [
            path: { "${params.outdir}/usearch" },
            mode: params.publish_dir_mode
        ]
    }

    withName: USEARCH64_FASTXUNIQUES {
        ext.args = "-sizeout"
        publishDir = [
            path: { "${params.outdir}/usearch" },
            mode: params.publish_dir_mode
        ]
    }

    withName: USEARCH32_OTUTAB {
        ext.args = "-id ${params.id}"
        publishDir = [
            path: { "${params.outdir}/usearch" },
            mode: params.publish_dir_mode
        ]
    }

    withName: USEARCH64_OTUTAB {
        ext.args = "-id ${params.id}"
        publishDir = [
            path: { "${params.outdir}/usearch" },
            mode: params.publish_dir_mode
        ]
    }

    withName: USEARCH32_UNOISE3 {
        ext.args = [
            "-minsize ${params.min_size}"
        ]
        .join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/usearch" },
            mode: params.publish_dir_mode
        ]
    }

    withName: USEARCH64_UNOISE3 {
        ext.args = [
            "-minsize ${params.min_size}"
        ]
        .join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/usearch" },
            mode: params.publish_dir_mode
        ]
    }

    withName: VSEARCH_CLUSTERUNOISE {
        ext.args = [
            "--minsize ${params.min_size}",
            "--centroids"
        ]
        .join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/vsearch" },
            mode: params.publish_dir_mode
        ]
    }

    withName: VSEARCH_DEREPFULLLENGTH {
        ext.args = "--sizeout"
        publishDir = [
            path: { "${params.outdir}/vsearch" },
            mode: params.publish_dir_mode
        ]
    }

    withName: VSEARCH_UCHIME3DENOVO {
        ext.args = "--nonchimeras"
        publishDir = [
            path: { "${params.outdir}/vsearch" },
            mode: params.publish_dir_mode
        ]
    }

    withName: VSEARCH_USEARCHGLOBAL {
        ext.args = "--id ${params.id}"
        publishDir = [
            path: { "${params.outdir}/vsearch" },
            mode: params.publish_dir_mode
        ]
    }
}
