params {
    //includeConfig 'ocom_raw_data.config'
    //includeConfig 'ocom_db.config'
    skip_zotus        = true
    lca_with_fishbase = true
    use_bitwise       = true
    slurm_account     = 'pawsey0964'
    queue_size        = 200
    database          = 'all' //database can be 'all', 'custom', or 'nt'
    //dbfiles           = params.db_params[params.database]["dbfiles"]
    //if (params.project_id & params.assay) {
    //    raw_data      = params.raw_data_params[params.project_id][params.assay]["raw_data"]
    //}
    dbfiles = [
                's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.ndb', \
                's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.nhr', \
                's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.nin', \
                's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.nog', \
                's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.nos', \
                's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.not', \
                's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.nsq', \
                's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.ntf', \
                's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.nto'
            ]
}
