params {
    raw_data_params {
        'OcOm_1901' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/210809_VH00640_2_AAAFCFCHV/Rowleys_Oct19Feb21_MiFish_Fish16S_S1_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/210809_VH00640_2_AAAFCFCHV/Rowleys_Oct19Feb21_MiFish_Fish16S_S1_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/210809_VH00640_2_AAAFCFCHV/Rowleys_Oct19Feb21_MiFish_Fish16S_S1_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/210809_VH00640_2_AAAFCFCHV/Rowleys_Oct19Feb21_MiFish_Fish16S_S1_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2003' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/210505_NS500470_0281_AH5L2LBGXJ/V2_S1_R1.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/210505_NS500470_0281_AH5L2LBGXJ/V2_S1_R2.fastq.gz'
                ]
            }
        }
        'OcOm_2101' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/210809_VH00640_2_AAAFCFCHV/Rowleys_Oct19Feb21_MiFish_Fish16S_S1_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/210809_VH00640_2_AAAFCFCHV/Rowleys_Oct19Feb21_MiFish_Fish16S_S1_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/210809_VH00640_2_AAAFCFCHV/Rowleys_Oct19Feb21_MiFish_Fish16S_S1_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/210809_VH00640_2_AAAFCFCHV/Rowleys_Oct19Feb21_MiFish_Fish16S_S1_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2102' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/210505_NS500470_0281_AH5L2LBGX/V3_S1_R1.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/210505_NS500470_0281_AH5L2LBGX/V3_S1_R2.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/210809_VH00640_2_AAAFCFCHV/Rowleys_Oct19Feb21_MiFish_Fish16S_S1_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/210809_VH00640_2_AAAFCFCHV/Rowleys_Oct19Feb21_MiFish_Fish16S_S1_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2103' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/210815_VH00640_4_AAAH3HHHV/AbrolhosV4_MiFish_Fish16S_S1_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/210815_VH00640_4_AAAH3HHHV/AbrolhosV4_MiFish_Fish16S_S1_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/210815_VH00640_4_AAAH3HHHV/AbrolhosV4_MiFish_Fish16S_S1_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/210815_VH00640_4_AAAH3HHHV/AbrolhosV4_MiFish_Fish16S_S1_R2_001.fastq.gz'
                ]
            }
            'MiFishE' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/AB_V04_MiFishE2_S1_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/AB_V04_MiFishE2_S1_L001_R2_001.fastq.gz'
                ]
            }
            'MarVer1' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/AB_V04_MarVer1_S2_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/AB_V04_MarVer1_S2_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2104' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/221006_VH01222_3_AAAV2JLHV/RS_V5_AUG21_16s_reseq_S1_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/221006_VH01222_3_AAAV2JLHV/RS_V5_AUG21_16s_reseq_S1_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/221006_VH01222_3_AAAV2JLHV/RS_V5_AUG21_MiFish_reseq_S2_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/221006_VH01222_3_AAAV2JLHV/RS_V5_AUG21_MiFish_reseq_S2_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2201' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/241015_VH01222_34_AAFNNHJM5/16S_S1_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/241015_VH01222_34_AAFNNHJM5/16S_S1_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/241015_VH01222_34_AAFNNHJM5/12S_S2_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/241015_VH01222_34_AAFNNHJM5/12S_S2_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2202' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/241121_VH01222_36_AAG232WM5/DMCI_16SFish_S2_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/241121_VH01222_36_AAG232WM5/DMCI_16SFish_S2_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/241121_VH01222_36_AAG232WM5/DMCI_MiFish_S1_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/241121_VH01222_36_AAG232WM5/DMCI_MiFish_S1_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishE' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250502_VH01222_40_AAGJJG2M5/DMCIMiFishE_S5_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250502_VH01222_40_AAGJJG2M5/DMCIMiFishE_S5_L001_R2_001.fastq.gz'
                ]
            }
            'MarVer1' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250530_VH01222_44_AAGHFGTM5/DMCI_MarVer1_01_S4_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250530_VH01222_44_AAGHFGTM5/DMCI_MarVer1_01_S4_L001_R2_001.fastq.gz'
                ]
            }
            'COILeray' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/241101_VH01222_35_AAFLYN3M5/COI_DMCI_samples_S4_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/241101_VH01222_35_AAFLYN3M5/COI_DMCI_samples_S4_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2203' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240703_VH01222_29_AAFJM5JM5/SWWA_V7_16S_S1_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240703_VH01222_29_AAFJM5JM5/SWWA_V7_16S_S1_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240703_VH01222_29_AAFJM5JM5/SWWA_V7_MiFish_S2_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240703_VH01222_29_AAFJM5JM5/SWWA_V7_MiFish_S2_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishE' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/SWWA_V7_MiFishE2_S9_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/SWWA_V7_MiFishE2_S9_L001_R2_001.fastq.gz'
                ]
            }
            'MarVer1' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/SWWA_V7_MarVer1_S10_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/SWWA_V7_MarVer1_S10_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2205' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240531_VH01222_26_AACHM5GM5/16S_ABV09V12_S1_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240531_VH01222_26_AACHM5GM5/16S_ABV09V12_S1_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240531_VH01222_26_AACHM5GM5/MiFish_ABV0912_S2_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240531_VH01222_26_AACHM5GM5/MiFish_ABV0912_S2_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishE' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/AB_V09V12_MiFishE2_S3_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/AB_V09V12_MiFishE2_S3_L001_R2_001.fastq.gz'
                ]
            }
            'MarVer1' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/AB_V09V12_MarVer1_S4_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/AB_V09V12_MarVer1_S4_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2206' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/221203_VH00640_10_AACCK23M5/221202_V10CKI_Project1__16S12S_S1_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/221203_VH00640_10_AACCK23M5/221202_V10CKI_Project1__16S12S_S1_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/221203_VH00640_10_AACCK23M5/221202_V10CKI_Project1__16S12S_S1_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/221203_VH00640_10_AACCK23M5/221202_V10CKI_Project1__16S12S_S1_R2_001.fastq.gz'
                ]
            }
            'MiFishE' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/CKI_V10_MiFishE2_S7_L001_R1_001.fastq.gz.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/CKI_V10_MiFishE2_S7_L001_R2_001.fastq.gz.gz'
                ]
            }
            'MarVer1' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/CKI_V10_MarVer1_S8_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/CKI_V10_MarVer1_S8_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2207' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/221211_VH00640_11_AAATNYHM5/221210_V10CKI_Project2__16S12S_S1_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/221211_VH00640_11_AAATNYHM5/221210_V10CKI_Project2__16S12S_S1_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/221211_VH00640_11_AAATNYHM5/221210_V10CKI_Project2__16S12S_S1_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/221211_VH00640_11_AAATNYHM5/221210_V10CKI_Project2__16S12S_S1_R2_001.fastq.gz'
                ]
            }
            'MiFishE' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/CKI_V10_MiFishE2_S7_L001_R1_001.fastq.gz.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/CKI_V10_MiFishE2_S7_L001_R2_001.fastq.gz.gz'
                ]
            }
            'MarVer1' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/CKI_V10_MarVer1_S8_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/CKI_V10_MarVer1_S8_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2208' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240726_VH01222_31_AAF5HN7M5/CKI-V10-P3_16S_S1_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240726_VH01222_31_AAF5HN7M5/CKI-V10-P3_16S_S1_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240726_VH01222_31_AAF5HN7M5/CKI-V10-P3_MiFish_S2_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240726_VH01222_31_AAF5HN7M5/CKI-V10-P3_MiFish_S2_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishE' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/CKI_V10_MiFishE2_S7_L001_R1_001.fastq.gz.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/CKI_V10_MiFishE2_S7_L001_R2_001.fastq.gz.gz'
                ]
            }
            'MarVer1' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/CKI_V10_MarVer1_S8_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/CKI_V10_MarVer1_S8_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2209' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/231011_VH01222_11_AACJCGCM5/CSIRO_Phase2_16S_S1_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/231011_VH01222_11_AACJCGCM5/CSIRO_Phase2_16S_S1_L001_R2_001.fastq.gz'
                ]
            }
            'COILeray' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/231011_VH01222_11_AACJCGCM5/CSIRO_Phase2_COI_S2_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/231011_VH01222_11_AACJCGCM5/CSIRO_Phase2_COI_S2_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2301' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/241121_VH01222_36_AAG232WM5/DMCI_16SFish_S2_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/241121_VH01222_36_AAG232WM5/DMCI_16SFish_S2_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/241121_VH01222_36_AAG232WM5/DMCI_MiFish_S1_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/241121_VH01222_36_AAG232WM5/DMCI_MiFish_S1_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishE' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250502_VH01222_40_AAGJJG2M5/DMCIMiFishE_S5_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250502_VH01222_40_AAGJJG2M5/DMCIMiFishE_S5_L001_R2_001.fastq.gz'
                ]
            }
            'MarVer1' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250530_VH01222_44_AAGHFGTM5/DMCI_MarVer1_01_S4_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250530_VH01222_44_AAGHFGTM5/DMCI_MarVer1_01_S4_L001_R2_001.fastq.gz'
                ]
            }
            'COILeray' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/241101_VH01222_35_AAFLYN3M5/COI_DMCI_samples_S4_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/241101_VH01222_35_AAFLYN3M5/COI_DMCI_samples_S4_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2302' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240628_VH01222_28_AAFJM57M5/16S_SWWA_V11_S1_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240628_VH01222_28_AAFJM57M5/16S_SWWA_V11_S1_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240628_VH01222_28_AAFJM57M5/MiFish_SWWA_V11_S2_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240628_VH01222_28_AAFJM57M5/MiFish_SWWA_V11_S2_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishE' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250609_VH01222_46_AAH5HKTM5/SWWAV11_MiFishE2_S1_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250609_VH01222_46_AAH5HKTM5/SWWAV11_MiFishE2_S1_L001_R2_001.fastq.gz'
                ]
            }
            'MarVer1' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250607_VH01222_45_AAGTY7WM5/SWWAV11_MarVer1_S1_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250607_VH01222_45_AAGTY7WM5/SWWAV11_MarVer1_S1_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2303' {
            '16SMammal' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240531_VH01222_26_AACHM5GM5/16SMam_Bc11_Ex14_S3_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240531_VH01222_26_AACHM5GM5/16SMam_Bc11_Ex14_S3_L001_R2_001.fastq.gz'
                ]
            }
            '12SV5' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240531_VH01222_26_AACHM5GM5/12SV5_Bc11_Ex14_S4_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240531_VH01222_26_AACHM5GM5/12SV5_Bc11_Ex14_S4_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2304' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240531_VH01222_26_AACHM5GM5/16S_ABV09V12_S1_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240531_VH01222_26_AACHM5GM5/16S_ABV09V12_S1_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240531_VH01222_26_AACHM5GM5/MiFish_ABV0912_S2_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240531_VH01222_26_AACHM5GM5/MiFish_ABV0912_S2_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishE' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/AB_V09V12_MiFishE2_S3_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/AB_V09V12_MiFishE2_S3_L001_R2_001.fastq.gz'
                ]
            }
            'MarVer1' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/AB_V09V12_MarVer1_S4_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/AB_V09V12_MarVer1_S4_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2305' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240619_VH01222_27_AACHLH5M5/16S_IOT_V13_S1_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240619_VH01222_27_AACHLH5M5/16S_IOT_V13_S1_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240619_VH01222_27_AACHLH5M5/MiFish_IOT_V13_S2_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240619_VH01222_27_AACHLH5M5/MiFish_IOT_V13_S2_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishE' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250607_VH01222_45_AAGTY7WM5/IOTV13_MiFishE2_S2_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250607_VH01222_45_AAGTY7WM5/IOTV13_MiFishE2_S2_L001_R2_001.fastq.gz'
                ]
            }
            'MarVer1' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250609_VH01222_46_AAH5HKTM5/IOTV13_MarVer1_S2_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250609_VH01222_46_AAH5HKTM5/IOTV13_MarVer1_S2_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2306' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/241121_VH01222_36_AAG232WM5/DMCI_16SFish_S2_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/241121_VH01222_36_AAG232WM5/DMCI_16SFish_S2_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/241121_VH01222_36_AAG232WM5/DMCI_MiFish_S1_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/241121_VH01222_36_AAG232WM5/DMCI_MiFish_S1_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishE' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250502_VH01222_40_AAGJJG2M5/DMCIMiFishE_S5_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250502_VH01222_40_AAGJJG2M5/DMCIMiFishE_S5_L001_R2_001.fastq.gz'
                ]
            }
            'MarVer1' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250530_VH01222_44_AAGHFGTM5/DMCI_MarVer1_01_S4_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250530_VH01222_44_AAGHFGTM5/DMCI_MarVer1_01_S4_L001_R2_001.fastq.gz'
                ]
            }
            'COILeray' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/241101_VH01222_35_AAFLYN3M5/COI_DMCI_samples_S4_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/241101_VH01222_35_AAFLYN3M5/COI_DMCI_samples_S4_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2307' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240912_VH01222_33_AAFLYF5M5/TransPacific_16S_S1_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240912_VH01222_33_AAFLYF5M5/TransPacific_16S_S1_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240912_VH01222_33_AAFLYF5M5/TransPacific_MiFish_S2_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240912_VH01222_33_AAFLYF5M5/TransPacific_MiFish_S2_L001_R2_001.fastq.gz'
                ]
            }
            'COILeray' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/241101_VH01222_35_AAFLYN3M5/COI_TransPacific_samples_S5_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/241101_VH01222_35_AAFLYN3M5/COI_TransPacific_samples_S5_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2308' {
            '16SMammal' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240531_VH01222_26_AACHM5GM5/16SMam_Bc11_Ex14_S3_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240531_VH01222_26_AACHM5GM5/16SMam_Bc11_Ex14_S3_L001_R2_001.fastq.gz'
                ]
            }
            '12SV5' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240531_VH01222_26_AACHM5GM5/12SV5_Bc11_Ex14_S4_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240531_VH01222_26_AACHM5GM5/12SV5_Bc11_Ex14_S4_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2309' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240912_VH01222_33_AAFLYF5M5/AEV_16S_S3_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240912_VH01222_33_AAFLYF5M5/AEV_16S_S3_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240912_VH01222_33_AAFLYF5M5/AEV_MiFish_S4_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240912_VH01222_33_AAFLYF5M5/AEV_MiFish_S4_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2402' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250527_VH01222_43_AAFV73HM5/INV2024_T01_16S_S1_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250527_VH01222_43_AAFV73HM5/INV2024_T01_16S_S1_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishUE' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250527_VH01222_43_AAFV73HM5/INV2024_T01_MiFishUE_S2_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250527_VH01222_43_AAFV73HM5/INV2024_T01_MiFishUE_S2_L001_R2_001.fastq.gz'
                ]
            }
            'MarVer1' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250527_VH01222_43_AAFV73HM5/INV2024_T01_MarVer1_S3_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250527_VH01222_43_AAFV73HM5/INV2024_T01_MarVer1_S3_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2403' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/241121_VH01222_36_AAG232WM5/NovaCanton_16SFish_S6_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/241121_VH01222_36_AAG232WM5/NovaCanton_16SFish_S6_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/241121_VH01222_36_AAG232WM5/NovaCanton_MiFish_S5_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/241121_VH01222_36_AAG232WM5/NovaCanton_MiFish_S5_L001_R2_001.fastq.gz'
                ]
            }
            'COILeray' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250801_VH01222_51_AAGJM5JM5/NovaCanton_COI_S4_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250801_VH01222_51_AAGJM5JM5/NovaCanton_COI_S4_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2404' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/241204_VH01222_37_AAGFHWYM5/UWA_Elasmo_16S_S1_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/241204_VH01222_37_AAGFHWYM5/UWA_Elasmo_16S_S1_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/241204_VH01222_37_AAGFHWYM5/UWA_Elasmo_MiFish-U_S2_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/241204_VH01222_37_AAGFHWYM5/UWA_Elasmo_MiFish-U_S2_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishE' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/241204_VH01222_37_AAGFHWYM5/UWA_Elasmo_MiFish-E_S3_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/241204_VH01222_37_AAGFHWYM5/UWA_Elasmo_MiFish-E_S3_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishUE' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/241204_VH01222_37_AAGFHWYM5/UWA_Elasmo_MiFish-UE_S4_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/241204_VH01222_37_AAGFHWYM5/UWA_Elasmo_MiFish-UE_S4_L001_R2_001.fastq.gz'
                ]
            }
            'COIElasmoD' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/241204_VH01222_37_AAGFHWYM5/UWA_Elasmo_COIE_S5_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/241204_VH01222_37_AAGFHWYM5/UWA_Elasmo_COIE_S5_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2405' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250502_VH01222_40_AAGJJG2M5/Gascoyne_24_16Fish_S4_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250502_VH01222_40_AAGJJG2M5/Gascoyne_24_16Fish_S4_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishUE' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250530_VH01222_44_AAGHFGTM5/GAS24_MiFishUE_01_S5_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250530_VH01222_44_AAGHFGTM5/GAS24_MiFishUE_01_S5_L001_R2_001.fastq.gz'
                ]
            }
            'MarVer1' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250521_VH01222_42_AAGJKHFM5/Gascoyne24_MarVer_S4_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250521_VH01222_42_AAGJKHFM5/Gascoyne24_MarVer_S4_L001_R2_001.fastq.gz'
                ]
            }
            'COILeray' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250801_VH01222_51_AAGJM5JM5/GAS24_COI_S1_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250801_VH01222_51_AAGJM5JM5/GAS24_COI_S1_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2406S' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240516_VH01222_23_AAFJM3JM5/RLS_eDNA_16S_Sample_250_S1_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240516_VH01222_23_AAFJM3JM5/RLS_eDNA_16S_Sample_250_S1_L001_R2_001.fastq.gz'
                ]
            }
            'COILeray' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240524_VH01222_25_AAFJMG3M5/RLS_eDNA_COI_Sample_S1_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240524_VH01222_25_AAFJMG3M5/RLS_eDNA_COI_Sample_S1_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2406C' {
            'COILeray' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240524_VH01222_25_AAFJMG3M5/RLS_eDNA_COI_Controls_S2_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240524_VH01222_25_AAFJMG3M5/RLS_eDNA_COI_Controls_S2_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2406C250' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240516_VH01222_23_AAFJM3JM5/RLS_eDNA_16S_Controls_250_S3_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240516_VH01222_23_AAFJM3JM5/RLS_eDNA_16S_Controls_250_S3_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2406C380' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/240516_VH01222_23_AAFJM3JM5/RLS_eDNA_16S_Controls_380_S2_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/240516_VH01222_23_AAFJM3JM5/RLS_eDNA_16S_Controls_380_S2_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2407' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250530_VH01222_44_AAGHFGTM5/INV2024_v04_16SFish_concat_R1.fastq.gz',
                    's3://oceanomics/eDNA/illumina-meta-raw/250530_VH01222_44_AAGHFGTM5/INV2024_v04_16SFish_concat_R2.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250519_VH01222_41_AAGJNTJM5/INV2024_v04_MiFishU_concat_R1.fastq.gz',
                    's3://oceanomics/eDNA/illumina-meta-raw/250519_VH01222_41_AAGJNTJM5/INV2024_v04_MiFishU_concat_R2.fastq.gz'
                ]
            }
            'MiFishE' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250521_VH01222_42_AAGJKHFM5/INV2024_v04_MiFishE_concat_R1.fastq.gz',
                    's3://oceanomics/eDNA/illumina-meta-raw/250521_VH01222_42_AAGJKHFM5/INV2024_v04_MiFishE_concat_R2.fastq.gz'
                ]
            }
            'MarVer1' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250521_VH01222_42_AAGJKHFM5/INV2024_v04_MarVer_567_S5_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250521_VH01222_42_AAGJKHFM5/INV2024_v04_MarVer_567_S5_L001_R2_001.fastq.gz'
                ]
            }
            'COILeray' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250815_VH01222_52_AAGW2GWM5/INV2024_v04_COILeray_concat_R1.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250815_VH01222_52_AAGW2GWM5/INV2024_v04_COILeray_concat_R2.fastq.gz'
                ]
            }
        }
        'OcOm_2408' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250527_VH01222_43_AAFV73HM5/INV2024_T04_16S_S4_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250527_VH01222_43_AAFV73HM5/INV2024_T04_16S_S4_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishUE' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250527_VH01222_43_AAFV73HM5/INV2024_T04_MiFishUE_S5_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250527_VH01222_43_AAFV73HM5/INV2024_T04_MiFishUE_S5_L001_R2_001.fastq.gz'
                ]
            }
            'MarVer1' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250527_VH01222_43_AAFV73HM5/INV2024_T04_MarVer1_S6_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250527_VH01222_43_AAFV73HM5/INV2024_T04_MarVer1_S6_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2410' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/241121_VH01222_36_AAG232WM5/TongaMethods_16SFish_S3_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/241121_VH01222_36_AAG232WM5/TongaMethods_16SFish_S3_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/241121_VH01222_36_AAG232WM5/TongaMethods_MiFish_S4_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/241121_VH01222_36_AAG232WM5/TongaMethods_MiFish_S4_L001_R2_001.fastq.gz'
                ]
            }
            'COILeray' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250801_VH01222_51_AAGJM5JM5/TongaMethods_COI_S2_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250801_VH01222_51_AAGJM5JM5/TongaMethods_COI_S2_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2411' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/241204_VH01222_37_AAGFHWYM5/AB-V15_16S_S6_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/241204_VH01222_37_AAGFHWYM5/AB-V15_16S_S6_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/241204_VH01222_37_AAGFHWYM5/AB-V15_MiFish_S7_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/241204_VH01222_37_AAGFHWYM5/AB-V15_MiFish_S7_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishE' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/AB_V15_MiFishE2_S5_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/AB_V15_MiFishE2_S5_L001_R2_001.fastq.gz'
                ]
            }
            'MarVer1' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/AB_V15_MarVer1_S6_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250610_VH01222_47_AAFV5HTM5/AB_V15_MarVer1_S6_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2504' {
            'COILeray' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250801_VH01222_51_AAGJM5JM5/CAPSTAN_COI_S3_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250801_VH01222_51_AAGJM5JM5/CAPSTAN_COI_S3_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2507S' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250730_VH01222_50_AAH5T3LM5/DEP_16S_S1_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250730_VH01222_50_AAH5T3LM5/DEP_16S_S1_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250730_VH01222_50_AAH5T3LM5/DEP_MiFishU_Samples_S2_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250730_VH01222_50_AAH5T3LM5/DEP_MiFishU_Samples_S2_L001_R2_001.fastq.gz'
                ]
            }
            'COILeray' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250815_VH01222_52_AAGW2GWM5/DEP_COI_Samples_S3_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250815_VH01222_52_AAGW2GWM5/DEP_COI_Samples_S3_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2507C' {
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250730_VH01222_50_AAH5T3LM5/DEP_MiFishU_Controls_S3_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250730_VH01222_50_AAH5T3LM5/DEP_MiFishU_Controls_S3_L001_R2_001.fastq.gz'
                ]
            }
            'COILeray' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/250815_VH01222_52_AAGW2GWM5/DEP_COI_Control_S4_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/250815_VH01222_52_AAGW2GWM5/DEP_COI_Control_S4_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2511P1' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/20250313_FS10002409_60_BTR67818-1531/16SP1_S1_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/20250313_FS10002409_60_BTR67818-1531/16SP1_S1_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/20250313_FS10002409_60_BTR67818-1531/MiFishP1_S3_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/20250313_FS10002409_60_BTR67818-1531/MiFishP1_S3_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2511P2' {
            '16SFish' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/20250313_FS10002409_60_BTR67818-1531/16SP2_S2_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/20250313_FS10002409_60_BTR67818-1531/16SP2_S2_L001_R2_001.fastq.gz'
                ]
            }
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/20250313_FS10002409_60_BTR67818-1531/MiFishP2_S4_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/20250313_FS10002409_60_BTR67818-1531/MiFishP2_S4_L001_R2_001.fastq.gz'
                ]
            }
        }
        'OcOm_2511P3' {
            'MiFishU' {
                raw_data = [
                    's3://oceanomics/eDNA/illumina-meta-raw/20250313_FS10002409_60_BTR67818-1531/MiFishP3_S5_L001_R1_001.fastq.gz', \
                    's3://oceanomics/eDNA/illumina-meta-raw/20250313_FS10002409_60_BTR67818-1531/MiFishP3_S5_L001_R2_001.fastq.gz'
                ]
            }
        }
    }
}