params {
    //filter_table = 'https://raw.githubusercontent.com/MinderooFoundation/OceanOmics-amplicon-nf/master/assets/filter.csv'
    skip_zotus   = true
    lca_with_fishbase = true
    dbfiles      = [
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.ndb', \
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.nhr', \
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.nin', \
        //'s3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.fasta.njs', \
        //'s3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.fasta.nog', \
        //'s3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.fasta.nos', \
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.not', \
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.nsq', \
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.ntf', \
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.nto'
    ]
}
