params {
    //filter_table = 'https://raw.githubusercontent.com/MinderooFoundation/OceanOmics-amplicon-nf/master/assets/filter.csv'
    skip_zotus   = true
    lca_with_fishbase = true
    use_bitwise = true
    dbfiles      = [
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.ndb', \
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.nhr', \
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.nin', \
        //'s3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.njs', \
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.nog', \
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.nos', \
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.not', \
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.nsq', \
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.ntf', \
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.nto'
    ]
}
