params {
  slurm_account = 'pawsey0812'
}

profiles {
  setonix {
    process {
      cache = 'lenient'
      stageInMode = 'symlink'
    }
    workDir = "$MYSCRATCH/nxf_work"
      
    singularity {
      enabled = true
      envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
      cacheDir = "/software/projects/pawsey0812/singularity"
    }

    process {
      executor = 'slurm'
      clusterOptions = "--account=${params.slurm_account}"
      queue = 'work'
      time = 1d
    }
    executor {
      $slurm {
        queueSize = 1024
      }
    } 
  }
}
