profiles {
  setonix {
    process {
      cache = 'lenient'
      stageInMode = 'symlink'

      // Process-specific resource requirements
      withLabel:process_single {
        cpus   = { check_max( 1                   , 'cpus'      ) }
        memory = { check_max( 6.GB  * task.attempt, 'memory'    ) }
        time   = { check_max( 4.h   * task.attempt, 'time'      ) }
      }
      withLabel:process_low {
        cpus   = { check_max( 16     * task.attempt, 'cpus'     ) }
        memory = { check_max( 32.GB  * task.attempt, 'memory'   ) }
        time   = { check_max( 8.h    * task.attempt, 'time'     ) }
      }
      withLabel:process_medium {
        cpus   = { 64     }
        memory = { 230.GB }
        time   = { 16.h   }
      }
      withLabel:process_high {
        cpus   = { 128    }
        memory = { 230.GB }
        time   = { 24.h   }
      }
      withLabel:process_long {
        time   = { check_max( 24.h  * task.attempt, 'time'     ) }
      }
      withLabel:process_high_memory {
        memory = { 230.GB }
      }
    }
    workDir = "$MYSCRATCH/nxf_work"

    singularity {
      enabled = true
      envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
      cacheDir = "$MYSOFTWARE/singularity"
    }

    process {
      executor = 'slurm'
      clusterOptions = "--account=${params.slurm_account}"
      queue = 'work'
      time = 1d
    }
    executor {
      $slurm {
        queueSize = "${params.queue_size}"
      }
    }
  }
}
