/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run path/to/main.nf -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input         = 'https://raw.githubusercontent.com/a4000/test_data/main/sample_sheets/test_samplesheet.csv'
    dbfiles       = ['https://raw.githubusercontent.com/a4000/test_data/main/old_db/12S.v0.7.16S.v0.2.fasta.ndb', \
                    'https://raw.githubusercontent.com/a4000/test_data/main/old_db/12S.v0.7.16S.v0.2.fasta.nhr', \
                    'https://raw.githubusercontent.com/a4000/test_data/main/old_db/12S.v0.7.16S.v0.2.fasta.nin', \
                    'https://raw.githubusercontent.com/a4000/test_data/main/old_db/12S.v0.7.16S.v0.2.fasta.nog', \
                    'https://raw.githubusercontent.com/a4000/test_data/main/old_db/12S.v0.7.16S.v0.2.fasta.nos', \
                    'https://raw.githubusercontent.com/a4000/test_data/main/old_db/12S.v0.7.16S.v0.2.fasta.not', \
                    'https://raw.githubusercontent.com/a4000/test_data/main/old_db/12S.v0.7.16S.v0.2.fasta.nsq', \
                    'https://raw.githubusercontent.com/a4000/test_data/main/old_db/12S.v0.7.16S.v0.2.fasta.ntf', \
                    'https://raw.githubusercontent.com/a4000/test_data/main/old_db/12S.v0.7.16S.v0.2.fasta.nto']
    raw_data      = 'https://raw.githubusercontent.com/a4000/test_data/main/fqs/concat.R1.fq.gz'
    filter_table  = 'https://raw.githubusercontent.com/a4000/test_data/main/other_files/filter.csv'
    blast_pid     = 90
    lca_pid       = 90
    lca_qcov      = 50
    asv_min_overlap   = 0
    asv_max_mismatch  = 12
    asv_pooled        = "false"
    blast_qcov    = 50
    zotu_min_size = 1
    skip_primertrim = true
}
